*,
*::after,
*::before {
  box-sizing: border-box;
}
.main-container {
  display: flex;
  justify-content: center;
  /* position: relative; */
}
.button-location {
  position: absolute;
  top: 50%;
  margin: 0 42%;
  border-radius: 25%;
  background-color: #f7f2f4;
  color: dimgray;
  height: 3em;
  font-weight: bolder;
}
.box-container {
  height: 15em;
  width: 20em;
  background-color: #be92a2;
  top: 33%;
  position: absolute;
  border-radius: 25px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}
.image-modal {
  max-width: 100%;
  max-height: 30%;
  display: block;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
