* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.flex-container {
  background: rgb(239, 239, 192);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
  padding: 33px;
}
div {
  background: rgb(188, 174, 206);
  height: 33px;
}

.flex-bar-one {
  width: 100%;
}
.flex-bar-two {
  width: 45%;
}
.flex-bar-three {
  width: 55%;
}
.flex-bar-four {
  width: 60%;
}
.flex-bar-five {
  width: 25%;
}
.flex-bar-six {
  width: 33%;
}
