* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  padding: 55px;
}
.wrapper {
  padding: 50px;
  border: 2px black dotted;
  background-color: rgb(241, 169, 138);
}
.relative {
  position: relative;
  padding-top: 50px;
  padding-right: 50px;
  background-color: rgb(245, 53, 53);
}
.opdracht-3 {
  background-color: rgb(245, 53, 53);
  position: relative;
  padding-left: 20px;
  padding-top: 30px;
}
.opdracht-4 {
  background-color: rgb(245, 53, 53);
  position: absolute;
  padding-left: 50px;
  padding-top: 100px;
}
