@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200&family=Kalam:wght@300&family=Source+Code+Pro&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  color: #303030;
  margin: 0;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}
.carousel_titel {
  margin: 0 auto;
  text-align: center;
  padding: 1rem 0;
}

.main_container {
  width: 88%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  /* border: cornflowerblue 3px dotted;
  border-radius: 25%; */
}
.carousel {
  max-width: 90vw;
  position: relative;
  margin: 0 auto;
}

.carousel .carousel-item {
  display: none;
}

.carousel .carousel-item-visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

.carousel .carousel-item img {
  width: 100%;
  max-width: 900px;
  height: auto;
}

.carousel .carousel-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .carousel-actions button {
  border-radius: 50px;
  background-color: white;
  border: 0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.carousel .carousel-actions button#carousel-button-prev {
  margin-left: 20px;
}

.carousel .carousel-actions button#carousel-button-next {
  margin-right: 20px;
}
@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
